* { /*Set all to null so there is no interference*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

nav {
    height: 10vh;
    background: #5b78c7;
}

.nav_links {
    list-style: none; /*Remove dots from list*/
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-left: auto; /*with this the nav is on the right*/
}

.nav_links li {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav_links Link {
    text-decoration: none;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}
/* Only do on devices with lower width than 768 px*/
@media screen and (max-width: 1000px){

    /*Creates a hamburger*/
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }

    /*Place the hamburger on the right*/
    .hamburger {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2; /*With this the hamburger doesn't disappear on click*/
    }
    .nav_links {
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -10%); /*Create a circle from the nav*/
        -webkit-clip-path:circle(50px at 90% -10%); /*Do this so every browser does it right*/
        transition: all 0.5s ease-out;
        pointer-events: none;
    }

    /*This class is added with javascript so the navbar is in front*/
    .nav_links.open {
        clip-path: circle(1200px at 60% -20%); /*Create a circle from the nav*/
        -webkit-clip-path:circle(1200px at 90% -10%); /*Do this so every browser does it right*/
        pointer-events: all;
    }

    .landing {
        flex-direction: column;
    }

    .nav_links li{
        font-size: 25px;
    }


    .nav_links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav_links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav_links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .toggle {
        opacity: 1;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .hamburger-click .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .hamburger-click .bar2 {opacity: 0;}
      
      .hamburger-click .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
}